:root {
    box-sizing: border-box;
    font-size: 16px;
    height: 100vh;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }

  ol, ul {
    list-style: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

body {
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 5fr;
    grid-template-columns: 2fr 7fr;
    grid-template-areas:
    "aside header"
    "aside main";
}

header {
    background-color: red;
    grid-area: header;
}

main {
    background-color: blue;
    grid-area: main;
}

aside {
    background-color: orange;
    grid-area: aside;
}
