:root {
    box-sizing: border-box;
    font-size: 16px;
    height: 100vh;
    --main-color: #4d727e;
    --accent-color-1: #283644;
    --accent-color-2: #7a6552;
    --accent-color-3: #e3d3ce;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }

  ol, ul {
    list-style: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

body {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1.5fr 7fr;
    grid-template-areas:
    "aside header"
    "aside main";
}

.actions {
    display: flex;
    gap: 35px;
    align-items: center;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    height: 100px;
    justify-content: space-between;
}

.actions button {
    width: 100px;
    height: 40px;
    border-radius: 24px;
    border: none;
}

.search, .profile {
    display: flex;
    grid-row: 1 / 2;
    height: 80px;
    align-items: center;
    gap: 20px;
}

.profile {
    justify-content: center;
}

.profile img {
    width: 80px;
    height: 80px;
 }

.welcome #welcome-logo{
    grid-area: avatar;
}

.welcome #Hi{
    grid-area: greeting;
}

.welcome #Name{
    grid-area: name;
}

header {
    background-color: var(--accent-color-3);
    grid-area: header;
    display: grid;
    grid-template-columns: 65% 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 5px 65px 20px 65px;
    max-height: 200px;
}

main {
    background-color: blue;
    grid-area: main;
}

aside {
    background-color: orange;
    grid-area: aside;
}

.welcome {
    height: 100px;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-areas:
    "avatar greeting"
    "avatar name ";
    align-content: center;
}

#welcome-logo {
    width: 100px;
    height: 100px;
    justify-self: end;
}

#Hi {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#Name {
    font-size: 1.5rem;
    font-weight: bold;
}

.search input {
    height: 35%;
    width: 75%;
    border: none;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.805);
}

svg {
    height: 35%;
}


